@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

h2.title {
  text-transform: none;
  margin-top: 2rem;
}

.title i {
  font-style: normal;
  background-color: var(--r-link-color);
  /* font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace; */
  font-family: "Fira Code", monospace;
  font-weight: normal;
  font-style: normal;
  padding: 0.4rem;
  border-radius: 6px;
  text-shadow: none;
  text-transform: none;
}
