.first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

img.first-block__image {
  max-height: 20vh;
}

h1.first-block__title {
  font-size: 4rem!important;
  text-transform: none;
  text-shadow: none;
  color: white;
  max-width: 75vw;
  margin: auto;
}

.first-block__footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: right;
}

.barre {
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: #2e78c7;
}