.reveal pre.code-wrapper code {
  padding: 2rem;
}

h5 {
  text-transform: none;
}

h5 i {
  font-style: normal;
  background-color: var(--r-link-color);
  color: white;
  font-family: "Fira Code", monospace;
  font-weight: normal;
  font-style: normal;
  padding: 0.4rem;
  border-radius: 6px;
  text-shadow: none;
  text-transform: none;
}

.reveal .hljs.has-highlights tr:not(.highlight-line) {
  opacity: 0.1!important;
}
